.add-to-cart {
  padding: 4px;
  border: 2px dashed orange;
  display: inline-flex;
}

.addtocart-btn {
  font-weight: 700;
  background-color: #7c3aed;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 20px;
}
