.page {
  border: 2px dashed red;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 24px;
  padding-bottom: 16px;
}

.nav-wrapper {
  display: flex;
  height: 56px;
  align-items: center;
  border-bottom: 1px solid #7c3aed;
}

.nav-content {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 8px;
  width: 100%;
}

.nav-content {
  display: flex;
  justify-content: space-between;
}

.nav-brand {
  font-weight: bold;
}

.container {
  max-width: 768px;
  padding: 0 8px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 16px;
}

.product-list {
  padding-top: 16px;
}
