.cart {
  width: 24px;
  height: 24px;
  position: relative;
  border-radius: 50%;
  border: 2px dashed orange;
}

.cartIcon {
  color: #7c3aed;
}

.cartCount {
  position: absolute;
  background-color: #ec4899;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: inline-flex;
  justify-content: center;
  top: -1px;
  right: -1px;
  font-size: 10px;
  line-height: 12px;
  color: #fff;
}

.cartContent {
  padding: 16px;
  border-radius: 12px;
  display: none;
  gap: 4px;
  width: 250px;
  background-color: white;
  position: absolute;
  right: 0;
  top: 24px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cart:hover .cartContent {
  display: grid;
}

.cartContentItem {
  border-bottom: 1px solid #7c3aed;
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 8px;
}

.cartContent:last-child {
  border-bottom: 1px solid transparent;
}

.cartContentInfo {
  min-width: 0;
  max-width: 100%;
}
.cartContentImg {
  padding: 8px;
}
.cartContentImg img {
  width: 100%;
  height: 100%;
}
.cartContentTitle {
  font-weight: normal;
  font-size: 14px;
  width: 100%;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 8px;
}
.cartContentPrice {
  font-weight: bold;
  font-size: 16px;
}

.btnCheckout {
  background-color: #7c3aed;
  font-weight: bold;
  color: #fff;
  padding: 8px;
  width: 100%;
}

.btnCheckout:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.noProduct {
  text-align: center;
  font-size: 14px;
  padding: 16px;
}
