.productDetail {
  margin-top: 16px;
  min-height: 500px;
  border: 2px dashed green;
}
.productDetailImage {
  height: 350px;
  margin-bottom: 16px;
}
.productDetailImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.productDetailTitle {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 16px;
}
.productDetailDesc {
  font-size: 14px;
  margin-bottom: 16px;
}
.productDetailPrice {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 16px;
}
